.outer-container {
  display: flex;
  justify-content: center;
}

.chart-and-buttons {
  /* margin-top: 50px; */
  margin: 60px auto;
}

.chart-button-div {
  display: flex;
  justify-content: center;
  /* margin-left: 140px;*/
  align-items: center;
}

.global-outer {
  margin-top: 10px;
}

.global-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 175px;
  height: 175px;

  /* margin-top: 10px; */
  margin-right: 25px;
  border: 1px solid rgb(194, 194, 194);
  font-weight: bold;
  color: rgb(77, 77, 77);
  background-color: rgba(0, 0, 0, 0.03);
}

p {
  margin: auto;
}

.today {
  color: red;
}

.buttons-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.myButton:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.navbar-custom {
  background-color: #5474a4;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgb(181, 193, 193);
  font-size: 24px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #f0f0f0;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #f0f0f0;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
  background-color: #34dd34;
}

.navbar-custom .dropdown-item {
  color: #ffffff;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  color: #191919;
  background-color: #23cc23;
}

.lineChartSvg {
  width: 1200;
}
