.outer-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1800px;
  /* margin-top: 100px; */
  min-height: 1200px;
  /* max-height: 1vh; */
}

.array-container {
  display: flex;
  justify-content: center;
  /* width: 1500px; */
  border: 1px solid black;
  width: 1400px;
  margin-top: 50px;
  max-height: 700px;

}

.array-bar {
  /* position: relative; */
  width: 2rem;
  /* height: auto; */
  /* max-height: 100%; */
  overflow: hidden;
  transform: scale(70%);
  /* max-height: fit-content; */
  /* margin: 0 1px; */
  margin-top: auto;
  margin-bottom: 0;
  border: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.global-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border: 1px solid black;
  font-weight: bold;
  color:white;
  background-color: black;
}

.buttons {
  display: flex;
  justify-content: center;
}
